/*
    Adalytics website base CSS file
    Adalytics / Adfinitum Networks
*/

#id_doc-body {
    display:inline-block;
    width:100%;
}
#id_doc-body-page {display:inline-block; }

div.content-con {
    margin: 40px 50px;
}

#id_doc-body .search-report-con {
    display:inline-block;
    white-space:normal;
    min-width:550px;
    background:white;
    padding:20px;
    padding-right:10px;
    overflow:visible;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;

    width: 800px;
    width: -webkit-calc(100% - 304px);
    width: -moz-calc(100% - 304px);
    width: calc(100% - 304px);
}

#id_doc-body .page {
    overflow:visible;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}

#id_doc-body .page.search-page {
    white-space:nowrap;
}

#id_doc-body .page.full {
    background:white;
    padding:20px;
    width:100%;
}

#search-form-con {
    /*position:absolute;*/
    display:inline-block;
    z-index:1000;
    vertical-align:top;
    white-space:normal;
    width:261px;
}

#id_doc-head {
  margin: 0 50px;
}

img {
    max-width: none;
}

.clear {clear:both;}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}



.adalytics-logo-txt {text-transform:lowercase;}
.adalytics-logo-txt .ad {color:#999;}

#id_doc-foot {
    text-align:right;
    width:auto;
    margin: 0 50px;
}
#id_doc-foot ul li:last-child {
    border:0;
}
#id_doc-foot ul li {
    display:inline;
    padding: 0 10px;
    border-right:solid 1px #999;
}

a.disabled,
a.disabled:visited ,
a.disabled:active,
a.disabled:hover {
    color:#aaa !important;
}

form.form-group-inline .control-group {float:left;margin-right:10px;}
form.form-group-inline .control-group.action-group {clear:both;}

#id_login-menu .dropdown-menu form {margin:10px;}

.dropdown-menu li a {
    font-size: 14px;
}
.ad-download-menu .dropdown-menu {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ad-overlay {
    width:100%;
    height:100%;
    position:absolute;
    z-index:10000;
    background-color:rgba(142,142,142,0.85);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.overlay-message {
    width: 100%;
    margin: 0px auto;
}

.sort-search {
    margin-right:10px;
}

.ads-all-checkbox {
    margin-left:5px !important;
}

.cart-all {
    margin-left:10px;
}

ul.ads {
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    clear:both;
}
ul.ads.list-ads li.ad .ad-preview-link {float:left;margin:6px;text-align:left;margin-left:25px;}
ul.ads.list-ads li.ad .ad-preview-link img.preview {
    float:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
ul.ads.list-ads li.ad {
    clear:both;
    margin-bottom:1em;
    position:relative;
    border: 1px solid #CCC;
    -webkit-border: 1px solid #CCC;
    -moz-border: 1px solid #CCC;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

ul.ad-meta {
    margin:0;
    padding:0;
}

ul.ad-meta li.ad-field {
    position:relative;
    /*z-index:1;*/
    display:block;
    padding: 3px;
    border: 1px solid #eee;
    -webkit-border: 1px solid #eee;
    -moz-border: 1px solid #eee;
}

ul.ad-meta li.ad-field .static-value {
    display:inline;
}
ul.ad-meta li.ad-field .editable-value {
    display:none;
}
ul.ad-meta li.ad-field .editable-value input {
    margin-bottom:0;
}

ul.ad-meta li.ad-field.high-res-not-available {
    color:#B94A48;
    text-align:right;
}
ul.ad-meta li.ad-field ins.icon {
    display:block;
    width:32px;
    height:32px;
    position:absolute;
    right:0;
    top:-2px;
}

ul.ad-meta li.ad-field .l {
    display:inline-block;
    font-weight:bold;
    color:#000;
    border-right:solid 1px #BBB;
    padding-right:3px;
    margin-right:0;
    width: 80px;
    margin-bottom: 0px;
    text-align: right;
}

ul.ad-meta li.ad-field .v {color:#666;padding-left:3px;}

li.ad .ad-checkbox {
    position:absolute;
    left:5px;
    z-index:10;
}

.content-not-available {
    font-style:italic;
}

ul.grid-ads {
    clear:both;
    position:relative;
    margin-bottom:20px;
    overflow:visible !important;
}
ul.grid-ads li.ad {
    position:relative;
    display:inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin:3px;
    padding:3px;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.ad .ad-preview-link {
    position:relative;
    z-index:2;
}
ul.grid-ads li.ad .popover {
    width:500px;
    max-width:500px;
    padding-bottom:20px;
}
ul.grid-ads li.ad .popover .preview {
    float:left;
    margin-right:10px;
}
ul.grid-ads li.ad .popover .ad-meta {
    display:block;
}
ul.grid-ads li.ad .popover .ad-actions {
    position:absolute;
    top:2px;
    right:2px;
}
ul.grid-ads li.ad .ad-meta {
    display:none;
}
ul.grid-ads .endless_container {
    position:absolute;
    bottom:-20px;
    left:0;
}

ul.report-request {list-style:none;margin:0;}

.search ul.filters {margin:0;padding:0;}
.search ul.filters li.filter {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display:inline-block;
    padding:3px;
    margin-right:3px;
    margin-bottom:3px;
    background-color: white;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.search ul.filters li.filter .l {display:inline;font-weight:bold;color:#000;border-right:dotted 1px #999;padding-right:3px;margin-right:0;}
.search ul.filters li.filter .v {color:#666;padding-left:0;}
.search-results-con .description {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display:inline-block;
    text-align: left;
    white-space:normal;
    min-width:300px;
    min-height:20px;
    padding: 10px 10px 10px 5px;
    margin-right:3px;
    margin-bottom:3px;
    /*background-color: white;*/
    /*border: 1px solid #eee;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.search-results-ads .btn.grid,.search-results-ads .btn.list {
    z-index:1000;
}

.search-result-actions {position:relative;}
.search-result-actions.btn-toolbar {margin:0;}
.search-result-actions.btn-toolbar .btn-group {margin:0 0 3px 0;z-index:20;}

.ad-actions.btn-toolbar {margin:0;position:absolute;top:0;right:0;z-index:1000;}
.ad-actions.btn-toolbar .btn-group {margin:0 0 3px 0;}

#id_ad-report-form .control-group .controls .choices {
    position:relative;
    z-index:11;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display:inline-block;
    min-width:214px;
    overflow-y: scroll;
    max-height: 400px;
    padding:3px;
    margin-right:3px;
    margin-bottom:3px;
    background-color: white;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
#id_ad-report-form .control-group .controls .choices ul {
    background: none;
}

#id_ad-report-form .control-group .control-label {display:inline-block;}
#id_ad-report-form .control-group .controls ul.filter-values {margin:0;}
#id_ad-report-form .control-group .controls ul.filter-values li.v {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display:inline-block;
    padding:3px;
    margin-right:3px;
    margin-bottom:3px;
    background-color: white;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
#id_ad-report-form .control-group .controls ul.filter-values li.v a.close {
    font-size: 14px;
    margin: 0 0 0 3px;
    position: relative;
    top: -3px;
}
#id_ad-report-form {
    position:relative;
    padding:20px;
    /*margin-left:30px;*/
}
#id_ad-report-form button[type="submit"].alt {
    position:absolute;
    top:-6px;
    right:0;
}

#id_ad-report-form .input-prepend input {width:180px;}
#id_ad-report-form .input-append input {width:180px;}
#id_ad-report-form .input-prepend.prepend-two input {width:155px;}
#id_ad-report-form .input-prepend.input-append input {width:155px;}
#id_ad-report-form .choices-toggle {cursor:pointer;}

.btn-group .dropdown {display:inline;}
.navbar .dropdown-menu {
    padding:10px;
    z-index:1002;
}
.page .dropdown-menu {
    padding:10px;
}

.alerts-page .fields.filters {
    cursor:pointer;
}
.alerts-page .fields.filters:hover {
    cursor:pointer;
}
.alerts-page .fields.filters .field a {
    text-decoration: none;
}
.report-save-alert-menu .dropdown-menu {
    width:274px;
}
.adalert-save-form .send-now-action {margin-right:5px;}
.adalert-save-form .send-now-action.disabled {text-decoration: none; cursor:default;}
#id_days_of_month li {width:1em;}
#id_email_recipients {width:260px;}
.report-tags-menu .dropdown-toggle.btn, .ad-tags-menu .dropdown-toggle.btn, .report-save-alert-menu .dropdown-toggle.btn, .report-export-menu.last .dropdown-toggle.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.report-tags-menu.first .dropdown-toggle.btn, .ad-tags-menu .dropdown-toggle.btn {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}
.report-save-alert-menu.last .dropdown-toggle.btn {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}
.report-export-menu.last .dropdown-toggle.btn {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

div.dropdown-menu {
    font-size:12px;
    max-width:500px;
}
div.dropdown-menu form {
    margin:0;
}
div.dropdown-menu form .control-group {
    margin:0;
}

ul.report-visualizations.panels {
    margin:0;
    list-style:none;
    text-align:center;
    white-space:normal;
}
.report-visualizations.panels .viz.panel {
    min-height:200px;
    width:260px;
    position:relative;
    /*overflow:hidden;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display:inline-block;
    padding:3px;
    margin-right:50px;
    margin-bottom:20px;
    margin-top:20px;
    background-color: white;
    vertical-align: top;
    /*border: 1px solid #eee;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.report-visualizations.panels .viz.panel.pie {
    width:414px;
}
.report-visualizations.panels .viz.panel.geomap {
    width:414px;
}
.report-visualizations.panels .viz.panel.geomap iframe {
    border:0;
    overflow:hidden;
    max-height: 300px;
    height:auto;
}
.report-visualizations.panels .viz.panel.timeline {
    width:500px;
    height:280px;
}

.adalert-save-form .controls ul.btn-group {margin:0;list-style:none;padding:0;white-space:normal;}
.adalert-save-form .controls ul.btn-group li.btn {display:inline-block;}

#id_doc-head .brand .motto {
    display:block;
    text-align:right;
    text-decoration:none;
    font-size:20px;
    font-family:Arial;
    font-weight:bold;
    position:relative;
    top:20px;
}
#id_doc-head .brand .label {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    writing-mode: lr-tb;
    text-transform:uppercase;
    color:#f00;
    opacity:.4;
    position:absolute;
    left:335px;
    top:5px;
    border:solid 5px #f00;
    display:inline-block;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding:12px 0;
    background:transparent;
    font-size:42px;
}

.tags {list-style:none;margin:0;padding:0;text-align:right;}
.tags .tag {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display:inline-block;
    padding:3px;
    margin-right:3px;
    margin-bottom:3px;
    background-color: white;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.tags .tag.selected {background-color:#eee;}
.tags .tag:hover {background-color:#eee;}
.tags .tag a {color:#666;text-decoration:none;}
.tags .tag span {color:#666;text-decoration:none;}
.tags .tag .l {display:inline;font-weight:bold;color:#000;border-right:dotted 1px #999;padding-right:3px;margin-right:0;}
.tags .tag .v {color:#666;padding-left:0;}
.tag-counts {margin-bottom:1em;}
.tag .close {position:relative;top:-2px;margin-left:5px;}
.ad-tags-con .tags {max-width:200px;}
.ad-tags-con .tags .tag {float:left;}
.report-tags-con .tags {max-width:350px;}
.report-tags-con .tags .tag {float:left;}

.multivalue-input-con ul.values {list-style:none;margin:0;padding:0;}
.multivalue-input-con ul.values li.v {
    position:relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display:inline-block !important;
    padding:3px;
    margin-right:3px;
    margin-bottom:3px;
    padding-right:10px;
    background-color: white;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.multivalue-input-con ul.values li.v a.close {
    font-size: 12px;
    margin: 0 0 0 3px;
    position: absolute;
    top: -3px;
    right:2px;
    padding:0;
}
.multivalue-input-con ul.values li.v a.close:hover {
    background:transparent;
    color:#666;
}

.description {
    background-color: transparent;
    border: none;
    text-align: center;
    display: inline;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: normal;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

table.selectable tbody tr:hover {
    background-color:#eee;
    cursor:pointer;
}
table.selectable tbody tr:active {
    background-color:#ddd;
    cursor:pointer;
}

#checkout-attributes {
    margin-top:30px;
    margin-bottom:20px;
}
#checkout-attributes .attr-label {
    margin-right:5px;
}

.option-help-popover {
    position:relative;
    top:-2px;
    left:5px;
}

.nav .popover {
    color:#333;
}

.weekly-report-popover {
    padding:0 !important;
    position:relative;
    left:-10px;
}
.visualization-help-popover {
    position:absolute;
    right:0;
    margin-right:5px;
    z-index:1;
}
.timeline .visualization-help-popover {
    right:-20px;
}

#id_ad-report-form .popover-title {
    width:200px;
}

.report-visualizations .popover-title {
    width:200px;
}

#id_ad-report-form a.reset {
    margin-right:10px;
}
#id_ad-report-form .form-alt-btns {
    display:inline-block;
    margin-bottom:10px;
}

img.search-loader {
    display:block;
    margin:auto;
    margin-top:100px;
}

.view-report {
    width:100px;
}

a.order-view-ad {
    margin-left:30px;
}

#report-issue-form textarea {
    width:97%;
    resize: none;
}

/* Organization Report */

.report-ads>ul>li {
    text-decoration:none;
}
.report-ads .metadata label {
    display:inline;
    font-weight:bold;
}

.org-report li {
    font-size: 13px;
    line-height: 18px;
}

.org-report .hero-unit {
background: -moz-linear-gradient(left,  rgba(255,255,255,0.01) 0%, rgba(215,215,215,0.26) 39%, rgba(153,153,153,1) 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.01)), color-stop(39%,rgba(215,215,215,0.26)), color-stop(100%,rgba(153,153,153,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0.01) 0%,rgba(215,215,215,0.26) 39%,rgba(153,153,153,1) 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0.01) 0%,rgba(215,215,215,0.26) 39%,rgba(153,153,153,1) 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0.01) 0%,rgba(215,215,215,0.26) 39%,rgba(153,153,153,1) 100%) !important; /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0.01) 0%,rgba(215,215,215,0.26) 39%,rgba(153,153,153,1) 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#999999',GradientType=1 ) !important; /* IE6-9 */
}
.org-report .hero-unit p {font-size: 36px !important;}
.org-report .hero-unit h1 {font-size: 28px !important;}

.org-report .container-fluid {
margin-top: 30px;
}

.org-report .metadata ul {
    list-style: disc;
}

.org-report .download {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
}

.org-report .report-ad>h1 {
    display:inline;
    line-height:36px;
}

.org-report .report-ad>img.country-flag {
    display:inline;
    position:relative;
    top:-7px;
    margin-left:10px;
}

.org-report .description {
    text-align:left;
    line-height:1.5em;
}

.org-report .tags {
    margin-top:10px;
}

.org-report .ad-separator {
    margin: 30px 0;
    border: 0;
    border-top: 3px solid #DDDDDD;
    border-bottom: 3px solid #EEEEEE;
}

.grid-ads .endless_loading {
    position:relative;
    top:20px;
    left:325px;
}

div.alert {
    line-height:1.5em;
}

#team-users-page .add-user-btn {
    margin-top:3px;margin-left:10px;
}

.comment pre {
    background-color:transparent;
    line-height:1.2em;
    font-family:inherit;
    border:none;
}
.comment {
    border-bottom:solid 1px #ccc;
    margin-bottom:10px;
}
.comment .comment-author {
    color:#999;
}
.show-more-comments {
    margin-right:20px;
}
.comment .edit-comment {
    margin-left:20px;
}
.comment .delete-comment {
    margin-left:20px;
}
.comment form {
    margin:10px 0;
}
.search-comments-con {
    padding-top:10px;
}
.search-comments-con>ul {
    padding-left:5px;
}
.search-comments-con textarea {
    margin-left:10px !important;
    width:96% !important;
}
.search-comments-con .submit-comment-btn {
    margin-left:15px;
}
.search-comments-con .comment-list {
    padding:10px;
}
.search-comments-con .show-less-comments {
    float:left;
    margin-bottom:10px;
}

.team-comments-toggle {
    cursor:pointer;
}

i.icon-viz {
    background-image:url("../img/graph_icon.png");
}

.header-bar .btn.active {
    border-bottom:none;
    background-color:transparent;
    border-bottom-left-radius:0;
    -webkit-border-bottom-left-radius:0;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.header-bar .btn-group > .btn:last-child {
    border-bottom-right-radius:0;
    -webkit-border-bottom-right-radius:0;
}
.header-bar .btn-group > .btn:first-child {
    border-bottom-left-radius:0;
    -webkit-border-bottom-left-radius:0;
}
.header-bar .btn-group {
    display:table;
}
.header-bar .btn-group>.btn {
    display:table-cell;
}
.header-bar .btn-group>.btn:not(.remaining) {
    width:14px;
}
.header-bar .btn-group>.btn.remaining {
    cursor:default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.header-tabs-con {
    border-left:1px solid rgba(0, 0, 0, 0.1);
    border-right:1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    margin:0;
    margin-bottom:20px;
    padding:0;
}

#about-page {
    font-size:14px;
    line-height:20px;
}
#about-page h2 {
    margin-bottom:20px;
    border-bottom:solid 1px #ccc;
}

#id_show-non-verified {
    margin-left:10px;
    position:relative;
    top:-3px;
}
#id_show-hidden {
    margin-left:10px;
    position:relative;
    top:-3px;
}

#id_report-add-to-queue {
    margin-left:10px;
}

.report-viz-loader {
    height:100%;
}
.report-viz-loader img {
    margin-top:24%;
}

.typeahead.dropdown-menu {
    z-index:9999999 !important;
}

.ad-meta .ad-field .extra-info {
    font-size:12px;
    color:#999;
    margin-left:20px;
}

#back-to-top {
    font-size: 1.5em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top .text {
    position: relative;
    top: 2px;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}

.video-js {
    width: 600px;
    height: 300px;
}

.ads{
    position:relative;
}

.ad-preview-link img{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div .ad-meta .ad-field{
    border: 1px solid #eee;
    -webkit-border: 1px solid #eee;
    -moz-border: 1px solid #eee;
    margin-left: 0;
    margin-right: -3.5%;
}

div .ad-meta .ad-field .l{
    font-weight: bold;
    color: #000;
    border-right: solid 1px #BBB;
    padding-right: 3px;
    margin-right: 0;
    margin-bottom: 0px;
    text-align: right;
    line-height: 28px;
    margin-left: 10px;
}

div .ad-meta .ad-field .v{
    color: #666;
    line-height: 20px;
    padding-left: 3px;
    margin-left: 3px !important;
    position: relative;
}
div.ad-field.row{
    padding: 3px;
}

div .ad-meta .ad-field .v .static-value{
    margin-top: 5px;
}

.adsearch-list .ad{
    margin-bottom: 1em;
    position: relative;
    border: 1px solid #CCC;
    -webkit-border: 1px solid #CCC;
    -moz-border: 1px solid #CCC;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.ad-list-checkbox{
    position: absolute;
    left: 5px;
}

.adsearch-list .ad-meta .ad-field{
    margin-right: -11.5% !important;
}

.grid-ads .ad{
    position: relative;
}

.grid-ads .ad-checkbox{
    position: absolute;
    left:5px;
    z-index: 1000;
}

.ad-meta .ad-field ins.icon{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: -2px;
}

@media (max-width: 768px) {
    div .ad-meta .ad-field .l{
        border-right: none;
        text-align: left;
    }
}

@media (min-width: 769px){ 
    div .ad-meta .ad-field .l.span1{
        width:25% !important;
    }

    div .ad-meta .ad-field .v.span11{
        width:70% !important;
    }
}

@media (min-width: 900px){ 
    div .ad-meta .ad-field .l.span1{
        width:20% !important;
    }

    div .ad-meta .ad-field .v.span11{
        width:75% !important;
    }
}

@media (min-width: 1200px){ 
    div .ad-meta .ad-field .l.span1{
        width:12% !important;
    }

    div .ad-meta .ad-field .v.span11{
        width:80% !important;
    }
}

@media (min-width: 1400px){ 
    div .ad-meta .ad-field .l.span1{
        width:10% !important;
    }

    div .ad-meta .ad-field .v.span11{
        width:85% !important;
    }
}

@media (min-width: 1600px){ 
    div .ad-meta .ad-field .l.span1{
        width:9% !important;
    }

    div .ad-meta .ad-field .v.span11{
        width:89% !important;
    }
}