<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Count page!</p>
{% for media in media_count%}

        Media:{{media.media_type}} ({{media.the_count}})<br/>
{% endfor %}
 {% load humanize %}
<p>
    Ads Count is :{{data_count|intcomma}}
</p>
{% for country in country_count%}
        Country:{{country.country}} ({{country.the_count}})<br/>
{% endfor %}

</body>
</html>