<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdPage</title>

</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Adsource Main</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css'%}" rel="stylesheet">
 <link onerror="loadCSS('https://icassets.globaldata.com/gdic/assets/external/font-awesome/4.7.0/css/font-awesome.css')" href="https://icassets.globaldata.com/gdic/assets/external/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
 <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <link href="{% static 'css/web-base.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://www.globaldata.com/wp-content/uploads/2019/01/favicon-16x16-1.png"/>
    <style>
        div>label{
        border-right:1px #ccc solid;
        font-weight:bold;
        }
        #id_doc-head{display:none;}
div.content-con{margin-top:10px;}
#id_doc-footer-con{display:none;}
.add-on.prepend{height:30px;}
.add-on.append{height:30px;}
.add-on i{margin-top:5px;}

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
height: 30px;}
.btn-small {padding: 6px 10px;}
#id_doc-body {border: 0}
#id_doc-body .search-report-con {border:0; box-shadow: initial;}
body {font-family: 'Rubik', sans-serif!important; color: #5a5a5a!important;}
ul.ad-meta li.ad-field {border:0; border-bottom: 1px dotted #e4e4e4;}
ul.ad-meta li.ad-field .l, a {color:#2f283d}
body, label, input, button, select, textarea {font-size: 13.5px;}
.remaining {background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%)!important}
.btn {background: #dadfe2;  font-size: 13.5px; font-weight: 500!important; text-shadow: inherit !important; border: 0; margin-left: 1px}
.btn-group > .btn + .btn {margin-left: 1px}
.header-bar .btn {border: 1px solid #F1F1F1}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {color: #ffffff !important;  background: #2F283D !important; font-size: 13.5px !important; font-family: 'Rubik', sans-serif !important;text-shadow: inherit !important;}
.cart-btn {background: #00DEA5 !important; text-shadow: inherit !important;}
ul.ads.list-ads li.ad {border: 1px solid #EAEAEA;}
form .search .description {font-size: 18px; color: #2f283d; line-height: 20px; margin: -20px 0 20px; display: block; text-align: left; padding: 0;}
.highcharts-container > svg > rect {stroke-width: 0 !important;}
.ad-download-menu .dropdown-menu {position: absolute; top: 15px; right: 0; left: unset;}
    </style>
</head>

<body>


  <!-- Navigation -->

    <div class="container-fluid">
     <div class="row">
     <div class="col-md-3">
 <a  href="#"><img src="https://www.globaldata.com/wp-content/uploads/2019/03/GlobalData_logo_blue_header.png"/></a>
         <br/>
 </div>


<br/>

        <div id="id_ad-163656671" data-id="163656671" class="ad row-fluid card" data-available-now="0" >
            <input type="checkbox" class="ad-checkbox ad-list-checkbox">

<br/>


<div class="row">


 <div class="col-lg-2 col-md-2 ">

            <a class="ad-preview-link span2" href="#" target="_blank">
                <img src="https://cdn.adfinitum.net/{{val.data_id}}/{{val.data_id}}.jpg" height="100" width="100" class="preview">
            </a>

            </div>
             <div class="col-lg-9">
            <div class="ad-meta-con span9" style="margin-left:0">





<div class="ad-meta summary">
 <div class="ad-field row" data-code="brand" data-href="#">
            <label class="col-md-2">AD Id</label>
            <span class="col-md-10">
                <div class="static-value">

                    <a href="/ad/{{val.data_id}}" target="_blank">{{val.data_id}}</a>


                </div>

            </span>
        </div>




        <div class="ad-field row" data-code="brand" data-href="#">
            <label class="col-md-2">Brand</label>
            <span class="col-md-10">
                <div class="static-value">

                    <a href="#">{{val.master_brand}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="title" data-href="#">
            <label class="col-md-2" >Title</label>
            <span class="col-md-10">
                <div class="static-value">

                   {{val.title}}


                </div>

            </span>
        </div>
    <div class="ad-field row" data-code="title" data-href="#">
            <label class="col-md-2">Description</label>
            <span class="col-md-10">
                <div class="static-value">

                   {{val.description}}


                </div>

            </span>
        </div>


        <div class="ad-field row" data-code="date" data-href="#">
            <label class="col-md-2">CreatedDate</label>
            <span class="col-md-10">
                <div class="static-value">

                    <a href="#">{{val.created_at}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="media" data-href="/ad/163656671/fields/media/">
            <label class="col-md-2">Media</label>
            <span class="col-md-10">
                <div class="static-value">

                    <ins class="icon media-icon" style="background:url(/static/img/icon/media/32/iv.gif) no-repeat top left;"></ins><a href="#">{{val.media_type}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="country" data-href="/ad/163656671/fields/country/">
            <label class="col-md-2">Country</label>
            <span class="col-md-10">
                <div class="static-value">

                    <ins class="icon country-icon" style="background:url(/static/img/icon/flags-iso/32/WW.png) no-repeat top left;"></ins><a href="#">{{val.country}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="category" data-href="/ad/163656671/fields/category/">
            <label class="col-md-2">Category</label>
            <span class="col-md-10">
                <div class="static-value">

                    <a href="#">{{val.master_category}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="Duration" data-href="/ad/163656671/fields/Duration/">
            <label class="col-md-2">Language</label>
            <span class="col-md-10">
                <div class="static-value">

                    {{val.language}}


                </div>

            </span>
        </div>
    <div class="ad-field row" data-code="Duration" data-href="/ad/163656671/fields/Duration/">
            <label class="col-md-2">Country</label>
            <span class="col-md-10">
                <div class="static-value">

                    {{val.country}}


                </div>

            </span>
        </div>


        <div class="ad-field row" data-code="Duration" data-href="/ad/163656671/fields/Duration/">
            <label class="col-md-2">Source</label>
            <span class="col-md-10">
                <div class="static-value">

                    {{val.source}}


                </div>

            </span>
        </div>




</div>
</div>
</div>

<br/>


            </div>


        </div>
           <br/>



   </div>
    </div>
<a href="{% url 'index' %}">Back to Global Advertising Database</a>
</body>
</html>