<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  colour:green;
}
th, td {
  padding: 5px;
  text-align: left;
  .pagination {
  display: inline-block;

}
</style>
<body>
<p>Home Page!</p>
 {% load humanize %}
<p>
    Ads Count is :{{data_count|intcomma}}
</p>
<table style="border:1px">
    <thead bgcolor="pink">
          <tr>
              <th>Ad Id</th>
                 <th>Title</th>
                 <th>Description</th>
              <th>Creation Date</th>
              <th>Injection Date</th>
                 <th>Modified Date</th>

              <th>Language</th>
               <th>Country</th>
                 <th>Region</th>
              <th>City</th>
                 <th>Source</th>
                 <th>Media</th>
              <th>Category</th>
              <th>Master-Category</th>
              <th>Company</th>
              <th>Brand</th>
              <th>Product</th>
              <th>Thumbnail</th>
              <th>Preview</th>
              <th>Compare</th>

            </tr>
    </thead>




{% for val in users %}
<tr>
    <td>{{val.data_id}}</td>
     <td>{{val.title}}</td>
    <td>{{val.description}}</td>
    <td>{{val.created_at}}</td>
    <td>{{val.injected_at}}</td>
    <td>{{val.modified_at}}</td>
     <td>{{val.language}}</td>
    <td>{{val.country}}</td>
    <td>{{val.region}}</td>
    <td>{{val.city}}</td>
    <td>{{val.source}}</td>
    <td>{{val.media_type}}</td>
    <td>{{val.category}}</td>
    <td>{{val.master_category}}</td>
    <td>{{val.master_company}}</td>
    <td>{{val.master_brand}}</td>
    <td>{{val.master_product}}
    <td><img src="https://i1.ytimg.com/vi/{{val.monitor_adcode}}/hqdefault.jpg" height="100" width="100"></td>
    <td><iframe class="embed-responsive-item" width="100" height="100" src="https://www.youtube.com/embed/{{val.monitor_adcode}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
    <td><a href="http://www2.globaladsource.com/ad/{{val.data_id}}/">Compare</a></td>
    </tr>
{% endfor %}
    </table>

{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}




</body>
</html>