<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Default</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css'%}" rel="stylesheet">
 <link onerror="loadCSS('https://icassets.globaldata.com/gdic/assets/external/font-awesome/4.7.0/css/font-awesome.css')" href="https://icassets.globaldata.com/gdic/assets/external/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
 <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <link href="{% static 'css/web-base.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://www.globaldata.com/wp-content/uploads/2019/01/favicon-16x16-1.png"/>
    <style>
        div>label{
        border-right:1px #ccc solid;
        font-weight:bold;
        }
        #id_doc-head{display:none;}
div.content-con{margin-top:10px;}
#id_doc-footer-con{display:none;}
.add-on.prepend{height:30px;}
.add-on.append{height:30px;}
.add-on i{margin-top:5px;}

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
height: 30px;}
.btn-small {padding: 6px 10px;}
#id_doc-body {border: 0}
#id_doc-body .search-report-con {border:0; box-shadow: initial;}
body {font-family: 'Rubik', sans-serif!important; color: #5a5a5a!important;}
ul.ad-meta li.ad-field {border:0; border-bottom: 1px dotted #e4e4e4;}
ul.ad-meta li.ad-field .l, a {color:#2f283d}
body, label, input, button, select, textarea {font-size: 13.5px;}
.remaining {background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%)!important}
.btn {background: #dadfe2;  font-size: 13.5px; font-weight: 500!important; text-shadow: inherit !important; border: 0; margin-left: 1px}
.btn-group > .btn + .btn {margin-left: 1px}
.header-bar .btn {border: 1px solid #F1F1F1}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {color: #ffffff !important;  background: #2F283D !important; font-size: 13.5px !important; font-family: 'Rubik', sans-serif !important;text-shadow: inherit !important;}
.cart-btn {background: #00DEA5 !important; text-shadow: inherit !important;}
ul.ads.list-ads li.ad {border: 1px solid #EAEAEA;}
form .search .description {font-size: 18px; color: #2f283d; line-height: 20px; margin: -20px 0 20px; display: block; text-align: left; padding: 0;}
.highcharts-container > svg > rect {stroke-width: 0 !important;}
.ad-download-menu .dropdown-menu {position: absolute; top: 15px; right: 0; left: unset;}
    </style>
</head>

<body>


  <!-- Navigation -->

    <div class="container-fluid">
     <div class="row">
     <div class="col-md-3">
 <a  href="#"><img src="https://www.globaldata.com/wp-content/uploads/2019/03/GlobalData_logo_blue_header.png"/></a>
 </div>
       <div class="col-lg-5 col-md-8 ">
       <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Organization</a>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organization </a>
              <div class="dropdown-menu" aria-labelledby="dropdown10">
                <a class="dropdown-item" href="#">Users</a>

              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account </a>
              <div class="dropdown-menu" aria-labelledby="dropdown10">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
              <li class="nav-item">
              <a class="nav-link " href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>


    </div>
</div>
</div>
</div>
<div class="">&nbsp;</div>
  <!-- Page Content -->
  <div class="container-fluid">
 <div class="row">
      <div class="col-md-2 col-sm-4">

         <form class="needs-validation" novalidate="">
           <div class="mb-3">
         <div class="form-alt-btns search-form-btns">
         <a href="/" class="btn btn-info  reset">Reset</a>
        <button type="submit" class="btn btn-primary ">Search</button>
    </div>
      </div>
       <hr class="mb-4">
                      <div class="mb-3">
               <label class="control-label" for="id_keyword">Keywords / Brand</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="" required="">
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>

            <!--<div class="mb-3">
              <label for="username">Category</label>
              <div class="input-group">

                <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="" required="">
                      &lt;!&ndash;  <span class="input-group-text"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>&ndash;&gt;
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>
-->
             <div class="mb-3">
              <label for="address2">Category</label>
             <select class="custom-select d-block w-100" id="master_category" name="master_category" required="">
              <option value="">Select</option>
               {%for category in category_list %}
                 <option value="{{category.master_category}}">{{category.master_category}}</option>
                 {% endfor %}
                </select>
            </div>
            <!--<div class="mb-3">
              <label for="username">Media</label>
              <div class="input-group">
                <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="" required="">
                      &lt;!&ndash;  <span class="input-group-text"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>&ndash;&gt;
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>-->
             <div class="mb-3">
              <label for="address2">Media</label>
             <select class="custom-select d-block w-100" id="media_type" name="media_type" required="">
                 <option value="">Select</option>
               {%for category in media_list %}
                 <option value="{{category.media_type}}">{{category.media_type}}</option>
                 {% endfor %}
             </select>
            </div>

            <div class="mb-3">
              <label for="address">Date </label>
               <div class="input-group-prepend">
                   <span class="input-group-text"> <i class="fa fa-calendar" aria-hidden="true"></i></span>
                      <div class="input-group date">
    <input type="text" class="form-control" value="17-02-2020" name="date">

</div>
                </div>


              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Country</label>
             <select class="custom-select d-block w-100" id="country" name="country" required="">
                 <option value="">Select</option>
             {%for category in country_list %}
                 <option value="{{category.country}}">{{category.country}}</option>
                 {% endfor %}
                </select>
            </div>
                <div class="mb-3">
              <label for="address2">Source</label>
             <select class="custom-select d-block w-100" id="source" name="source" required="">
                <option value="">Select</option>
                   {%for category in source_list %}
                 <option value="{{category.source}}">{{category.source}}</option>
                 {% endfor %}
                </select>
            </div>
             <div class="mb-3">
              <label for="address2">Organization</label>
             <select class="custom-select d-block w-100" id="organization" name="organization" required="">
                 <option value="">Select</option>
                   {%for category in brand_list %}
                 <option value="{{category.master_brand}}">{{category.master_brand}}</option>
                 {% endfor %}
                </select>
            </div>
                     <div class="mb-3">
              <label for="address2">Company</label>
             <select class="custom-select d-block w-100" id="company" name="master_company" required="">
                 <option value="">Select</option>
                 {%for category in comany_list %}
                 <option value="{{category.master_company}}">{{category.master_company}}</option>
                 {% endfor %}
                </select>
            </div>
                             <div class="mb-3">
              <label for="address2">Brand</label>
             <select class="custom-select d-block w-100" id="brand" name="master_brand" required="">
                 <option value="">Select</option>
                  {%for category in brand_list %}
                 <option value="{{category.master_brand}}">{{category.master_brand}}</option>
                 {% endfor %}
                </select>
            </div>

                  <div class="mb-3">
              <label for="username">Ad ID</label>
              <div class="input-group">
                <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" name="adid" class="form-control" id="adid" placeholder="" required="">
                      <!--  <span class="input-group-text"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>-->
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>
            <div class="custom-control custom-checkbox">
            <label class="custom-control-label" for="same-address">Show Hidden Ads</label>
              <input type="checkbox"  class="custom-control-input" id="same-address" >

            </div>
             <hr class="mb-4">
            <div class="form-alt-btns search-form-btns">
         <a href="#" class="btn btn-info  reset">Reset</a>
        <button type="submit" class="btn btn-primary ">Search</button>

    </div>
      </form>
      </div>







      <div class="col-lg-9 col-md-9 ">


          <div class="card-body">
             <h2>Welcome to Global Ad Source</h2>
     <p>The world map shows the volume of advertising captured in each market - simply hover over individual markets for the detail.  The pie-chart identifies volume by media type.  Both of these data visualizations are interactive - simply click a pie slice or a market to sort results by your selection</p>
     <p>Each time you log in, the list below refreshes to show you the most recent advertising that has been added to the full database.  To perform your own searches, please use the search filters on the left-hand menu.  Either type your search criteria into the fields or click the arrow on the right side to reveal the drop down menu.</p>
          </div>
{% for val in users %}
        <div id="id_ad-163656671" data-id="163656671" class="ad row-fluid card" data-available-now="0" >
            <input type="checkbox" class="ad-checkbox ad-list-checkbox">

<br/>

<div class="row">


 <div class="col-lg-2 col-md-2 ">

            <a class="ad-preview-link span2" href="/ad/{{val.data_id}}" target="_blank">

                <img src="https://cdn.adfinitum.net/{{val.data_id}}/{{val.data_id}}.jpg"height="100" width="100" class="preview">
            </a>

            </div>
             <div class="col-lg-9">
            <div class="ad-meta-con span9" style="margin-left:0">







<div class="ad-meta summary">
 <div class="ad-field row" data-code="brand" data-href="#">
            <label class="col-md-2">AD Id</label>
            <span class="col-md-10">
                <div class="static-value">

                    <a href="/ad/{{val.data_id}}" target="_blank">{{val.data_id}}</a>


                </div>

            </span>
        </div>




        <div class="ad-field row" data-code="brand" data-href="#">
            <label class="col-md-2">Brand</label>
            <span class="col-md-10">
                <div class="static-value">

                    <a href="#">{{val.master_brand}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="title" data-href="#">
            <label class="col-md-2" >Title</label>
            <span class="col-md-10">
                <div class="static-value">

                   {{val.title}}


                </div>

            </span>
        </div>
    <div class="ad-field row" data-code="title" data-href="#">
            <label class="col-md-2">Description</label>
            <span class="col-md-10">
                <div class="static-value">

                   {{val.description}}


                </div>

            </span>
        </div>


        <div class="ad-field row" data-code="date" data-href="#">
            <label class="col-md-2">CreatedDate</label>
            <span class="col-md-10">
                <div class="static-value">

                    <a href="#">{{val.created_at}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="media" data-href="/ad/163656671/fields/media/">
            <label class="col-md-2">Media</label>
            <span class="col-md-10">
                <div class="static-value">

                    <ins class="icon media-icon" style="background:url(/static/img/icon/media/32/iv.gif) no-repeat top left;"></ins><a href="#">{{val.media_type}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="country" data-href="/ad/163656671/fields/country/">
            <label class="col-md-2">Country</label>
            <span class="col-md-10">
                <div class="static-value">

                    <ins class="icon country-icon" style="background:url(/static/img/icon/flags-iso/32/WW.png) no-repeat top left;"></ins><a href="#">{{val.country}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="category" data-href="/ad/163656671/fields/category/">
            <label class="col-md-2">Category</label>
            <span class="col-md-10">
                <div class="static-value">

                    <a href="#">{{val.master_category}}</a>


                </div>

            </span>
        </div>






        <div class="ad-field row" data-code="Duration" data-href="/ad/163656671/fields/Duration/">
            <label class="col-md-2">Language</label>
            <span class="col-md-10">
                <div class="static-value">

                    {{val.language}}


                </div>

            </span>
        </div>
    <div class="ad-field row" data-code="Duration" data-href="/ad/163656671/fields/Duration/">
            <label class="col-md-2">Country</label>
            <span class="col-md-10">
                <div class="static-value">

                    {{val.country}}


                </div>

            </span>
        </div>


        <div class="ad-field row" data-code="Duration" data-href="/ad/163656671/fields/Duration/">
            <label class="col-md-2">Source</label>
            <span class="col-md-10">
                <div class="static-value">

                    {{val.source}}


                </div>

            </span>
        </div>




</div>
</div>
</div>

<br/>


            </div>


        </div>
           <br/>
          {% endfor %}
    {% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
            </div>
        </div>

      </div>

    </div>



  </div>


  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-2 ">
    <div class="container-fluid bg-light">
      <p class="m-0 text-center">Copyright &copy; Adsource 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<script >
$(document).ready(function(){

 $(".needs-validation").submit(function(e){
    e.preventDefault();
    window.location.href='/?'+$(this).serialize()
    //alert($(this).serialize())
    // $(this).serialize(); will be the serialized form
    //$(this).append($(this).serialize() + '<br />');
});
});

</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $('input[name="date"]').daterangepicker();
</script>
</body>

</html>
